<app-bannierejeux
[folder]='"bars"'
[page]='"app-bars"'
[extension]="'.jpg'"></app-bannierejeux>
<div class="quote">
  <span class="openQuote">“</span>Boire un petit coup c’est agréableeeuuu !<span class="closeQuote"></span>
</div>
Associez à cet air bien connu quelques
jeux bien sélectionnés et vous obtiendrez la recette pour que vos clients passent un
moment original et agréable autour d’un verre.<br /><br />
Que vous teniez un bar, un café, un restaurant, «&nbsp;A Quoi Tu Joues&nbsp;» propose d’offrir
à vos clients un moment de <span class="highlighted">convivialité</span>, de rencontre et de découverte lors d’un apéro,
d’une soirée à thème, ou d’un après-midi ludique.
Nous venons avec un éventail de jeux adaptés à la structure d’accueil, à <span class="highlighted">vos attentes</span>
et à votre clientèle, et restons présents pour expliquer les règles  et animer les
jeux.
<br /><br />
<h1>N’hésitez pas à <div class="lien contact highlighted">nous contacter</div> pour plus de renseignements sur les formules proposées.</h1>
<br />
<div class="button-bar">
  <div class="button button-primary entreprises">Entreprises</div>
  <div class="button button-primary etablissementsspecialises">Établissements spécialisés</div>
  <div class="button button-primary particuliers">Particuliers</div>
</div>
