<app-bannierejeux
[folder]='"entreprises"'
[page]='"app-entreprises"'
[extension]="'.jpg'"></app-bannierejeux>
<span>
  La «&nbsp;ludification&nbsp;», ou «&nbsp;gamification&nbsp;»… Voilà une nouvelle méthode de
  management qui consiste à intégrer le jeu dans l’environnement de travail des salariés,
  afin de les encourager à se divertir, à souffler, à se décontracter, pour <span class="highlighted">gagner en
  productivité.</span><br /><br />
  A l’instar de Google, des entreprises commencent à installer des salles de repos,
  des équipements ludiques (baby-foot, table de ping pong), ou toute autre installation
  permettant aux salariés de se détendre entre collègue, favorisant ainsi le bien-être
  au travail et la <span class="highlighted">cohésion d’équipe.</span><br /><br /><div class="quote">
    <span class="openQuote">“</span><h1>L’intervention peut prendre divers formats :</h1>
    <ul>
      <li>
        Entre 12h et 14h, lors d’une pause déJEUXner
      </li>
      <li>
        En soirée, pour un afterwork ludique
      </li>
      <li>
        Lors d’un séminaire de team building
      </li>
    </ul><span class="closeQuote"></span>
  </div>
  Les jeux de société font partie de ces nouveaux services proposés aux employés,
  car ils disposent de nombreux atouts en plus du simple aspect divertissement.
  Certains abordent en effet des notions qu’il est ensuite possible de reproduire dans
  son travail : négociation, gestion, communication, créativité, etc. Les jeux
  coopératifs se développent également de plus en plus, améliorant ainsi le travail
  en équipe, <span class="highlighted">la collaboration</span>, la réflexion collective.<br /><br />
  «&nbsp;A Quoi Tu Joues&nbsp;» propose des animations ludiques au sein de votre entreprise,
  en s’appuyant sur une sélection de jeux qui saura répondre à vos attentes.
  <br /><br />
  <h1>N’hésitez pas à <div class="lien contact highlighted">nous contacter</div> pour toute demande de renseignements.</h1>
</span>

<div class="button-bar">
    <div class="button button-primary etablissementsspecialises">Établissements spécialisés</div>
    <div class="button button-primary bars">Bars</div>
    <div class="button button-primary particuliers">Particuliers</div>
</div>
