@media screen and (max-width: 1000px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1001px) {
  .mobile {
    display: none;
  }
}
