<div class="cadre cadre-deux" style="background-image : url('../../assets/nosinterventions/1.jpg')"></div>
<div class="quote">
    <span class="openQuote">“</span>
    <div class="button button-primary entreprises">Entreprises</div>
    <div class="button button-primary etablissementsspecialises">Établissements spécialisés</div>
    <div class="button button-primary bars">Bars</div>
    <div class="button button-primary particuliers">Particuliers</div>
    <span class="closeQuote"></span>
</div>
<span>
    <span class="highlighted"> «&nbsp;A Quoi Tu Joues&nbsp;»</span> est basée à Bouc-Bel-Air,
    entre Aix-en-Provence et Marseille, et se déplace dans tout le département des
    <span class="highlighted">Bouches-du-Rhône</span> (hors zone sur demande).<br />
    <br />
    Les animations proposées s’adressent aux <div class="lien entreprises highlighted">entreprises</div>, pour renforcer la cohésion
    d’équipe, aux collectivités, qui veulent proposer un moment ludique à leurs
    citoyens, aux <div class="lien etablissementsspecialises highlighted">établissements spécialisés</div>, pour proposer une nouvelle activité à
    leurs résidents, aux <div class="lien bars highlighted">bars</div>, aux <div class="lien particuliers highlighted">particuliers</div>,&nbsp;… bref, à tous ceux qui voient dans
    le jeu un moment d’échange ludique et convivial.
    <br /><br />
    <h1>N’hésitez pas à <div class="lien contact highlighted">nous contacter</div> pour plus de renseignements.</h1>
</span><div class="cadre cadre-trois" style="background-image : url('../../assets/nosinterventions/2.jpg')"></div>
