<app-bannierejeux
[folder]='"particuliers"'
[page]='"app-particuliers"'
[extension]="'.jpg'"></app-bannierejeux>
Marre des repas interminables où l’on sert à peine le plat à l’heure du goûter ?
Lassés des soirées ennuyantes où l’on cherche sans cesse un nouveau sujet de
conversation pour éviter un silence gênant ? Angoissés à l’idée que quelqu’un propose
encore de jouer au Monopoly, Cluedo, ou un autre jeu déjà vu et revu ?
<br /><br />Faites appel à «&nbsp;A Quoi Tu Joues&nbsp;» pour <span class="highlighted">animer</span> vos anniversaires, vos évènements
familiaux, ou vos soirées entre amis. Nous viendrons à votre rencontre pour vous
faire <span class="highlighted">découvrir</span> de nouveaux jeux, adaptés à vos attentes, au nombre de joueurs et à
leur âge.<br /><br />
Nous vous garantissons un moment de divertissement <span class="highlighted">convivial et dynamique</span>, avec à la
clé la possibilité d’acheter <div class="lien nosjeux highlighted">les jeux</div> présentés.
<br /><br />
<h1>N’hésitez pas à <div class="lien contact highlighted">nous contacter</div> pour plus de renseignements.</h1>
<br />

<div class="button-bar">
  <div class="button button-primary entreprises">Entreprises</div>
  <div class="button button-primary etablissementsspecialises">Établissements spécialisés</div>
  <div class="button button-primary bars">Bars</div>
</div>
