
<span>
    <app-logo class="logo"></app-logo>
    «&nbsp;A&nbsp;Quoi&nbsp;Tu&nbsp;Joues&nbsp;» propose des <span class="highlighted">animations</span> autour des jeux de société.
    Véritable lien social, le jeu présente des vertus qui ne sont plus à prouver.
    <br />Mais il est parfois difficile de savoir à quoi jouer, tant l’offre de jeux est importante.
    Alors on se rabat souvent sur les classiques, passant ainsi à côté de véritables pépites ludiques.
    <br /><br />Que vous aimiez dessiner, réfléchir, faire travailler votre mémoire, mettre à l'épreuve votre culture générale,
    ou simplement vous amuser, il y en a pour tous les goûts.
    Et «&nbsp;A&nbsp;Quoi&nbsp;Tu&nbsp;Joues&nbsp;» propose de venir à votre rencontre pour vous les présenter.
    <div class="avatar"></div>
    <div class="quote">
      <h1>Le mot de l’animateur :</h1>
      <span class="openQuote">“</span>
      Passionné de jeux depuis mon plus jeune âge, j’ai, comme beaucoup,
      commencé à m’amuser avec les grands classiques comme le Monopoly, le Cluedo, la Bonne Paye, le Risk, etc.
      Mais le marché du jeu a énormément évolué ces dernières années, et ce sont maintenant plusieurs centaines de nouveaux jeux qui sortent chaque année.
      Pour autant, ces jeux «&nbsp;modernes&nbsp;» restent souvent méconnus du grand public. En créant «&nbsp;A&nbsp;Quoi&nbsp;Tu&nbsp;Joues&nbsp;»,
      j’ai souhaité offrir la possibilité de découvrir de nouveaux jeux de façon dynamique et ludique, que ce soit en
      <div class="lien entreprises highlighted">entreprise,</div>
      au sein d’une collectivité, d’un <div class="lien etablissementsspecialises highlighted">établissement spécialisé</div>, ou tout simplement lors d’une <div class="lien particuliers highlighted">soirée entre amis</div> chez le particulier.
      <span class="closeQuote"></span>
    </div>
  </span>
