<app-bannierejeux
[folder]='"quijoue"'
[page]="'app-quijoue'"
[extension]="'.jpg'"></app-bannierejeux>
<span class="highlighted">Tout le monde joue !</span><br />
<br />Jeux vidéos, jeux de cartes, jeux de hasard, jeux télévisés…
et bien sûr jeux de société ! Tout le monde a au moins une fois joué dans sa vie.
Nous nous sommes même tous construit autour du jeu
(Mais si ! Rappelez-vous quand vous étiez bébé !). Le jeu fait partie de notre vie,
car il nous unit.<br />
La France demeure le plus gros marché d’Europe pour les jeux de société.
Et le marché du jeu ne cesse de progresser.
<div class="quote">
    <span class="openQuote">“</span>
En 2009, il y a eu <span class="highlighted">1065 sorties</span> de nouveaux jeux de société en France et
3000 nouvelles sorties en 2015, un record ! Il y en a donc pour tous les goûts,
et chacun doit pouvoir trouver son bonheur dans un tel catalogue.
  <span class="closeQuote"></span>
</div>
<br /><br />Mais il est malheureusement difficile de s’y retrouver, car personne n’aime acheter
un jeu «&nbsp;au hasard&nbsp;». En témoignent les tristes statistiques, plaçant toujours le
Monopoly, la Bonne paye, le Scrabble et Puissance 4 en tête des ventes, relayant
les jeux «&nbsp;modernes&nbsp;» au second plan.<br /><br />
<span class="highlighted">«&nbsp;A&nbsp;Quoi&nbsp;Tu&nbsp;Joues&nbsp;»</span> propose de vous faire découvrir ce nouvel univers ludique,
encore méconnu du grand public, le temps d’un <div class="lien entreprises highlighted">évènement</div> d’entreprise, d’une <div class="lien etablissementsspecialises highlighted">animation</div>
au sein d’un établissement spécialisé, autour d’un <div class="lien bars highlighted">verre</div> dans un bar, ou <div class="lien particuliers highlighted">chez vous</div>,
lors d’une soirée entre amis ou en famille.
Les possibilités d’animation sont nombreuses, donc n’hésitez pas à <div class="lien contact highlighted">nous contacter</div>.
