Foyers, maisons de retraites, hôpitaux, cliniques, centres de rééducation, maisons
de repos, EHPAD… offrez à vos résidents un moment de divertissement original et
enrichissant.<br /><br />
Nous adaptons les jeux présentés en fonction du public concerné et des attentes.
Le jeu est un incroyable stimulant, permettant de faire travailler de nombreux sujets :
 la mémoire, la créativité, l’expression, le calcul, l’imagination, la réflexion,
 l’observation, etc. Et tout ceci en favorisant les rencontres, en créant ou en
 renforçant le lien social parmi vos résidents.<br /><br />
<h1>N’hésitez pas à <div class="lien contact highlighted">nous contacter</div> pour définir ensemble vos objectifs et vos
attentes, en fonction des capacités, aptitudes et contraintes de votre public.</h1>

<br /><br />

<div class="button-bar">
  <div class="button button-primary entreprises">Entreprises</div>
  <div class="button button-primary bars">Bars</div>
  <div class="button button-primary particuliers">Particuliers</div>
</div>
