
<div class="logo-container">
  <div class="aCard"
    style=" transform: translateX(0px) translateY(-20px) rotate(-20deg);">
    <div class="top">A</div>
  </div>
  <div class="aCard"
    style="transform: translateX(16px) translateY(-17px) rotate(-10deg);">
    <div class="top">Q</div>
  </div>
  <div class="aCard"
    style="transform: translateX(33px) translateY(-11px) rotate(1deg);">
    <div class="top">T</div>
  </div>
  <div class="aCard"
    style="transform: translateX(49px) translateY(-1px) rotate(13deg);">
    <div class="top">J</div>
  </div>
</div>
